<a href="https://colab.research.google.com/github/swarnakumarreddy/Jul13_01/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# If condition was true
language = 'Python'
if language == "Python":
    print('The Conditional was True')

# Elif Statement
a = 100
b = 100
if a > b:
  print ("a is greater")
elif a == b:
  print("a == b are EQUAL")
else:
  print ('None of the Above')

# If else statement
if language == "Java":
    print('Language is python')
else:
    print('No match')

The Conditional was True
a == b are EQUAL
No match

In [24]:
#Pyhon API Example1

import requests

API_KEY = 'd82a106eb903466e9b5addc0ddda5b7c'

def fetch_and_print_articles(api_url, headers):
    response = requests.get(api_url, headers=headers)

    if response.status_code == 200:
        articles = response.json().get('articles', [])

        for index, article in enumerate(articles[:1], start=1):
            print(f"Article {index}:\n{json.dumps(article, sort_keys=True, indent=4)}\n")
    else:
        print(f"Error: {response.status_code}")

headers = {
"Authorization": f"Bearer {API_KEY}"
}

url = f"https://newsapi.org/v2/top-headlines?country=us&category=politics"
fetch_and_print_articles(url, headers)


# Businiess NEWS
url = f"https://newsapi.org/v2/top-headlines?country=us&category=business"
print("###############################   Business NEWS   ###############################")
fetch_and_print_articles(url, headers)

Article 1:
{
    "author": "Brad Lendon",
    "content": "The deadly conflict on the Thai-Cambodian border pits a longtime United States ally with decades of experience against a relatively young armed force with close ties to China.\r\nBangkok and Phnom Penh\u2026 [+6789 chars]",
    "description": "The deadly conflict on the Thai-Cambodian border pits a longtime United States ally with decades of experience against a relatively young armed force with close ties to China.",
    "publishedAt": "2025-07-26T06:13:00Z",
    "source": {
        "id": "cnn",
        "name": "CNN"
    },
    "title": "Thai-Cambodian conflict pits a well-equipped US ally against a weaker adversary with strong China links - CNN",
    "url": "https://www.cnn.com/2025/07/25/asia/thailand-cambodia-conflict-military-comparison-intl-hnk-ml",
    "urlToImage": "https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-1246329694-20250725081507234.jpg?c=16x9&q=w_800,c_fill"
}

###############################   Business NEWS   ###############################
Article 1:
{
    "author": null,
    "content": "CAMBRIDGE, Mass.\r\n--(BUSINESS WIRE)--Jul. 25, 2025--\r\nSarepta Therapeutics, Inc.\r\n (NASDAQ:SRPT), the leader in precision genetic medicine for rare diseases, today issued the following statement:\r\nJu\u2026 [+10510 chars]",
    "description": "CAMBRIDGE, Mass. --(BUSINESS WIRE)--Jul. 25, 2025-- Sarepta Therapeutics, Inc. (NASDAQ:SRPT), the leader in precision genetic medicine for rare diseases, today issued the following statement: Just before 6:00 p.m. ET today, the U.S. Food and Drug Administrati\u2026",
    "publishedAt": "2025-07-25T23:51:00Z",
    "source": {
        "id": null,
        "name": "Sarepta.com"
    },
    "title": "Sarepta Therapeutics Provides Clarifying Statement on ELEVIDYS - Sarepta Therapeutics",
    "url": "https://investorrelations.sarepta.com/news-releases/news-release-details/sarepta-therapeutics-provides-clarifying-statement-elevidys",
    "urlToImage": "https://investorrelations.sarepta.com/static-files/d0b28561-f14e-4a81-8ebf-739357b1b541"
}

In [7]:

# Python API Example2

import json
import requests

def fetch_and_print_articles(api_url):
    response = requests.get(api_url)

    if response.status_code == 200:
        articles = response.json().get('articles', [])

        for index, article in enumerate(articles[:1], start=1):
            print(f"Article {index}:\n{json.dumps(article, sort_keys=True, indent=4)}\n")
    else:
        print(f"Error: {response.status_code}")

API_KEY = 'd82a106eb903466e9b5addc0ddda5b7c'
api_endpoint = f"https://newsapi.org/v2/top-headlines?country=us&category=business&apiKey=d82a106eb903466e9b5addc0ddda5b7c"

fetch_and_print_articles(api_endpoint)

def jprint(obj):
    print(json.dumps(obj, sort_keys=True, indent=4))

Article 1:
{
    "author": null,
    "content": "CAMBRIDGE, Mass.\r\n--(BUSINESS WIRE)--Jul. 25, 2025--\r\nSarepta Therapeutics, Inc.\r\n (NASDAQ:SRPT), the leader in precision genetic medicine for rare diseases, today issued the following statement:\r\nJu\u2026 [+10510 chars]",
    "description": "CAMBRIDGE, Mass. --(BUSINESS WIRE)--Jul. 25, 2025-- Sarepta Therapeutics, Inc. (NASDAQ:SRPT), the leader in precision genetic medicine for rare diseases, today issued the following statement: Just before 6:00 p.m. ET today, the U.S. Food and Drug Administrati\u2026",
    "publishedAt": "2025-07-25T23:51:00Z",
    "source": {
        "id": null,
        "name": "Sarepta.com"
    },
    "title": "Sarepta Therapeutics Provides Clarifying Statement on ELEVIDYS - Sarepta Therapeutics",
    "url": "https://investorrelations.sarepta.com/news-releases/news-release-details/sarepta-therapeutics-provides-clarifying-statement-elevidys",
    "urlToImage": "https://investorrelations.sarepta.com/static-files/d0b28561-f14e-4a81-8ebf-739357b1b541"
}

In [7]:
# API Example 3

import os
import requests
# Retrieve the API key from an environment variable
#api_key = os.environ.get("API_KEY")
api_key = "d82a106eb903466e9b5addc0ddda5b7c"
# Set up the request headers
headers = {
"Authorization": f"Bearer {api_key}"
}
# Make a sample API request
response = requests.get("https://newsapi.org/v2/top-headlines?country=us&category=business", headers=headers)
# Check the response status
if response.status_code == 200:
  print("API request successful:", response.json())
else:
  print("API request failed:", response.status_code, response.text)

API request successful: {'status': 'ok', 'totalResults': 33, 'articles': [{'source': {'id': None, 'name': 'Sarepta.com'}, 'author': None, 'title': 'Sarepta Therapeutics Provides Clarifying Statement on ELEVIDYS - Sarepta Therapeutics', 'description': 'CAMBRIDGE, Mass. --(BUSINESS WIRE)--Jul. 25, 2025-- Sarepta Therapeutics, Inc. (NASDAQ:SRPT), the leader in precision genetic medicine for rare diseases, today issued the following statement: Just before 6:00 p.m. ET today, the U.S. Food and Drug Administrati…', 'url': 'https://investorrelations.sarepta.com/news-releases/news-release-details/sarepta-therapeutics-provides-clarifying-statement-elevidys', 'urlToImage': 'https://investorrelations.sarepta.com/static-files/d0b28561-f14e-4a81-8ebf-739357b1b541', 'publishedAt': '2025-07-25T23:51:00Z', 'content': 'CAMBRIDGE, Mass.\r\n--(BUSINESS WIRE)--Jul. 25, 2025--\r\nSarepta Therapeutics, Inc.\r\n (NASDAQ:SRPT), the leader in precision genetic medicine for rare diseases, today issued the following statement:\r\nJu… [+10510 chars]'}, {'source': {'id': 'the-washington-post', 'name': 'The Washington Post'}, 'author': 'Andrew Ackerman', 'title': 'How a Fed tour sparked unexpected Trump praise for Powell - The Washington Post', 'description': 'The president’s participation in a tour of the Fed had the makings of a public relations disaster for the central bank. But by Friday, the president was praising Powell.', 'url': 'https://www.washingtonpost.com/business/2025/07/25/trump-powell-federal-reserve-interest-rates/', 'urlToImage': 'https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/C4QKBA432QJSXZTYMMG5SASAYI.JPG&w=1440', 'publishedAt': '2025-07-25T23:47:13Z', 'content': 'President Donald Trumps tour of the Federal Reserves expansive office renovations on Thursday had the makings of a public relations disaster for the central bank.\r\nInstead, the meeting appeared to si… [+4354 chars]'}, {'source': {'id': 'techcrunch', 'name': 'TechCrunch'}, 'author': "Sean O'Kane, Kirsten Korosec", 'title': 'Tesla wants to bring robotaxis to San Francisco. Here’s what’s standing in the way. - TechCrunch', 'description': "There will be an employee in the driver's seat -- a big change from how things have been working in Austin.", 'url': 'https://techcrunch.com/2025/07/25/tesla-wants-to-bring-its-robotaxis-to-san-francisco-heres-whats-standing-in-the-way/', 'urlToImage': 'https://techcrunch.com/wp-content/uploads/2024/07/GettyImages-2159532501.jpg?resize=1200,801', 'publishedAt': '2025-07-25T23:41:43Z', 'content': 'Tesla is launching an even-more-limited version of its early robotaxi service in San Francisco this weekend, according to Business Insider, after an initial rollout began last month in Austin, Texas.… [+3857 chars]'}, {'source': {'id': 'al-jazeera-english', 'name': 'Al Jazeera English'}, 'author': 'Al Jazeera Staff', 'title': 'With Trump go-ahead, Skydance and Paramount to complete merger in August - Al Jazeera', 'description': 'The merger has faced scrutiny for what critics view as capitulations to Donald Trump, including a $16m settlement.', 'url': 'https://www.aljazeera.com/news/2025/7/25/with-trump-go-ahead-skydance-and-paramount-to-complete-merger-in-august', 'urlToImage': 'https://www.aljazeera.com/wp-content/uploads/2025/07/2025-07-24T225550Z_724683082_RC27RBACZYM8_RTRMADP_3_PARAMOUNT-GLOBAL-SKYDANCE-FCC-1753477479.jpg?resize=1920%2C1440', 'publishedAt': '2025-07-25T22:55:00Z', 'content': 'The entertainment company Paramount Global is expected to close its $8bn merger agreement with Skydance Media on August 7, a date that marks two weeks after the administration of President Donald Tru… [+6273 chars]'}, {'source': {'id': None, 'name': 'Gizmodo.com'}, 'author': 'AJ Dellinger', 'title': 'UK’s New Age Verification Requirement Thwarted in the Simplest Way Imaginable - Gizmodo', 'description': "What, you don't want to submit your ID before visiting a porn site?", 'url': 'https://gizmodo.com/uks-new-age-verification-requirement-thwarted-in-the-simplest-way-imaginable-2000634637', 'urlToImage': 'https://gizmodo.com/app/uploads/2025/07/pornhub-stock-art-1200x675.jpg', 'publishedAt': '2025-07-25T21:58:39Z', 'content': 'Earlier this week, the United Kingdom’s age assurance requirement for sites that publish pornographic material went into effect, which has resulted in everything from Pornhub to Reddit and Discord di… [+2646 chars]'}, {'source': {'id': 'abc-news', 'name': 'ABC News'}, 'author': 'ABC News', 'title': "Is Elon Musk to blame for Tesla's struggles? Experts weigh in - ABC News", 'description': None, 'url': 'https://abcnews.go.com/Business/elon-musk-blame-teslas-struggles-experts-weigh/story?id\\\\u003d124039268', 'urlToImage': None, 'publishedAt': '2025-07-25T21:22:30Z', 'content': None}, {'source': {'id': None, 'name': 'Gizmodo.com'}, 'author': 'Bruce Gil', 'title': 'The Meme Stocks Are Back and May Have Found Their New ‘Roaring Kitty’ - Gizmodo', 'description': 'A Toronto hedge fund manager just accidentally sparked the latest meme stock frenzy.', 'url': 'https://gizmodo.com/the-meme-stocks-are-back-and-may-have-found-their-new-roaring-kitty-2000634756', 'urlToImage': 'https://gizmodo.com/app/uploads/2024/02/1c332b1a599b7d1941ffc77246f713bf.jpg', 'publishedAt': '2025-07-25T20:31:39Z', 'content': 'It seems meme stocks are back, and this time, the latest craze was sparkedsomewhat accidentallyby a Canadian hedge fund manager named Eric Jackson.\r\nAbout three weeks ago, Jacksons firm, EMJ Capital,… [+2224 chars]'}, {'source': {'id': None, 'name': 'Yahoo Entertainment'}, 'author': 'Ian King', 'title': 'Intel Slides After New CEO’s Comeback Plan Worries Investors - Yahoo Finance', 'description': '(Bloomberg) -- Shares of Intel Corp. tumbled 8.5% on Friday after Chief Executive Officer Lip-Bu Tan sparked concerns that he was more focused on cost...', 'url': 'https://finance.yahoo.com/news/intel-tumbles-ceo-comeback-plan-172640723.html', 'urlToImage': 'https://s.yimg.com/ny/api/res/1.2/lxbDrKHN3kl2CIMA1J_0SA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD04MDA-/https://media.zenfs.com/en/bloomberg_holding_pen_162/ee3abb5148ad9182c09e87ebd1c62fef', 'publishedAt': '2025-07-25T20:31:38Z', 'content': '(Bloomberg) -- Shares of Intel Corp. tumbled 8.5% on Friday after Chief Executive Officer Lip-Bu Tan sparked concerns that he was more focused on cost cutting than restoring the chipmakers technologi… [+7407 chars]'}, {'source': {'id': 'business-insider', 'name': 'Business Insider'}, 'author': 'Sydney Bradley', 'title': 'Tea app that lets women post anonymous dating reviews was hit by a data breach that exposed 72K images - Business Insider', 'description': "Viral dating advice app Tea experienced a data breach on Friday. It's been at the top of the US Apple App Store this week.", 'url': 'https://www.businessinsider.com/tea-app-user-selfies-women-data-exposed-breach-2025-7', 'urlToImage': 'https://i.insider.com/6883e11385e81483682eb985?width=1200&format=jpeg', 'publishedAt': '2025-07-25T20:21:00Z', 'content': 'Tea, the anonymous dating advice app for women that has the internet buzzing, is in hot water after a data breach.\r\nThousands of images of women, including selfies and photos of IDs that were used to… [+1922 chars]'}, {'source': {'id': None, 'name': 'MarketWatch'}, 'author': 'William Watts', 'title': 'Dow left behind as S&P 500 soars to record after record. What gives? - MarketWatch', 'description': 'The re-emergence of Big Tech and AI plays have seen the blue-chip Dow trail the stock market’s gains', 'url': 'https://www.marketwatch.com/story/dow-left-behind-as-s-p-500-soars-to-record-after-record-what-gives-2c2e6bd4', 'urlToImage': 'https://images.mktw.net/im-60556798/social', 'publishedAt': '2025-07-25T19:50:00Z', 'content': 'William Watts is MarketWatch markets editor. In addition to managing markets coverage, he writes about stocks, bonds, currencies and commodities, including oil. He also writes about global macro issu… [+155 chars]'}, {'source': {'id': None, 'name': 'SFGate'}, 'author': 'Madeline Wells', 'title': 'Bay Area braces for strike at over 100 grocery stores across NorCal - SFGATE', 'description': "Safeway employees at over 100 stores are slated to go on strike if union leaders don't reach a contract with the company before midnight on Friday.", 'url': 'https://www.sfgate.com/food/article/bay-area-braces-for-grocery-store-strike-20786444.php', 'urlToImage': 'https://s.hdnux.com/photos/01/32/37/56/23722902/5/rawImage.jpg', 'publishedAt': '2025-07-25T19:31:21Z', 'content': 'A view of the Safeway in Rockridge, a neighborhood in Oakland, Calif., on Wednesday, April 26, 2023.\xa0\r\nDouglas Zimmerman/SFGATE\r\nSafeway\xa0employees across Northern California are slated to go on strik… [+2015 chars]'}, {'source': {'id': 'bloomberg', 'name': 'Bloomberg'}, 'author': "Ryan Gallagher, Margi Murphy, Patrick Howell O'Neill", 'title': 'Microsoft Probing Whether Cyber Alert Tipped Off Chinese Hackers - Bloomberg.com', 'description': 'A program to share information with cybersecurity companies may have exposed unpatched flaws in the company’s SharePoint service.', 'url': 'https://www.bloomberg.com/news/articles/2025-07-25/microsoft-sharepoint-hack-probe-on-whether-chinese-hackers-found-flaw-via-alert', 'urlToImage': 'https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i6uCO5IUXWBA/v1/1200x800.jpg', 'publishedAt': '2025-07-25T18:14:59Z', 'content': 'Microsoft Corp. is investigating whether a leak from its early alert system for cybersecurity companies allowed Chinese hackers to exploit flaws in its SharePoint service before they were patched, ac… [+413 chars]'}, {'source': {'id': None, 'name': 'Yahoo Entertainment'}, 'author': 'Nauman khan', 'title': 'Palantir Stock Climb to Record High on Robust Sales and Major Army Contract - Yahoo Finance', 'description': 'Palantir Hits Unprecedented Peak on Back of Key AI Alliances', 'url': 'https://finance.yahoo.com/news/palantir-stock-climb-record-high-174632437.html', 'urlToImage': 'https://media.zenfs.com/en/us.finance.gurufocus/325f48a70dc6c0c52a00317b6f6bc6ba', 'publishedAt': '2025-07-25T17:46:32Z', 'content': 'July 25 - Palantir Technologies (NASDAQ:PLTR) stock climbed to an all?time high of $158 on Friday morning, driven by strong investor demand, reflecting growing confidence in its data analytics platfo… [+1542 chars]'}, {'source': {'id': 'the-verge', 'name': 'The Verge'}, 'author': 'Jay Peters', 'title': 'Want to pay down the national debt? The US government will take Venmo - The Verge', 'description': 'The Treasury Department’s “Gifts to Reduce the Public Debt” website now accepts Venmo as a payment option.', 'url': 'https://www.theverge.com/news/713980/us-national-debt-treasury-department-reduce-pay-venmo', 'urlToImage': 'https://platform.theverge.com/wp-content/uploads/sites/2/2025/01/STKB323_VENMO_D.jpg?quality=90&strip=all&crop=0%2C10.732984293194%2C100%2C78.534031413613&w=1200', 'publishedAt': '2025-07-25T17:19:49Z', 'content': '<ul><li></li><li></li></ul>\r\nThe US national debt currently exceeds $36 trillion, but you can help chip away at that with a Venmo payment.\r\nThe US national debt currently exceeds $36 trillion, but yo… [+1820 chars]'}, {'source': {'id': 'fortune', 'name': 'Fortune'}, 'author': 'Christiaan Hetzner', 'title': 'Volkswagen seeks audience with Trump, dangling more than $10 billion in U.S. investments in exchange for tariff exemptions - Fortune', 'description': 'The world’s second largest carmaker slashed its 2025 guidance for revenue, margins, and cash citing Q2 headwinds from U.S. tariffs of roughly $1.4 billion.', 'url': 'https://fortune.com/2025/07/25/volkswagen-trump-tariffs-exemptions/', 'urlToImage': 'https://fortune.com/img-assets/wp-content/uploads/2025/07/GettyImages-2203917189-e1753450193902.jpg?resize=1200,600', 'publishedAt': '2025-07-25T16:07:30Z', 'content': 'Oliver Blume wants to make a deal. The CEO of Volkswagen Group, the worlds second-largest carmaker, is prepared to put a minimum of $10 billion on the table in exchange for lower tariffs levied by th… [+4410 chars]'}, {'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'The Wall Street Journal', 'title': 'Charter Communications’ Modest Growth, Broadband Loss Triggers Steep Sell-Off - The Wall Street Journal', 'description': None, 'url': 'https://www.wsj.com/business/telecom/charter-communications-earnings-rise-with-growth-in-mobile-internet-revenue-6357f7bb', 'urlToImage': None, 'publishedAt': '2025-07-25T16:06:00Z', 'content': None}, {'source': {'id': None, 'name': "Barron's"}, 'author': "Barron's", 'title': "Buy Berkshire Hathaway Stock Even Though It’s Losing Warren Buffett - Barron's", 'description': None, 'url': 'https://www.barrons.com/articles/buy-berkshire-stock-price-pick-0e03cd23', 'urlToImage': None, 'publishedAt': '2025-07-25T16:02:00Z', 'content': None}, {'source': {'id': None, 'name': 'mlive.com'}, 'author': 'Sheri McWhirter | smcwhirter@mlive.com, Garret Ellison | gellison@mlive.com', 'title': 'Michigan is attempting something never done before in America’s nuclear industry - MLive.com', 'description': 'Michigan is navigating a shift in its energy landscape as Palisades nuclear plant is poised to restart.', 'url': 'https://www.mlive.com/environment/2025/07/michigan-is-attempting-something-never-done-before-in-americas-nuclear-industry.html', 'urlToImage': 'https://www.mlive.com/resizer/v2/7NTSYQLC5RBM7BUUWQKC3HIXWQ.jpg?auth=d04f16669fb571388595ccbe6ed1b133cab6b22d516c909872b3ab978f2b9258&width=1280&quality=90', 'publishedAt': '2025-07-25T15:19:00Z', 'content': 'COVERT, MI Federal regulators are poised to approve a restart of the Palisades Nuclear Plant, putting Michigan at the heart of a national nuclear energy renaissance.\r\nNuclear power has emerged as a k… [+5596 chars]'}]}

In [31]:
# API Example 4

import requests

API_URL = "https://newsapi.org/v2/top-headlines"
API_KEY = "d82a106eb903466e9b5addc0ddda5b7c"

params = {
    "country": "us",
    "apiKey": API_KEY,
    "pageSize": 1
}

response = requests.get(API_URL, params=params)

if response.status_code == 200:
    print(f"TOP News FULL::: \n\n{response.json()}")
    print(f"TOP News are::: \n\n{response.json().get('articles', [])}")
else:
    print(f"Error: {response.status_code}")

TOP News FULL:::

{'status': 'ok', 'totalResults': 34, 'articles': [{'source': {'id': 'cnn', 'name': 'CNN'}, 'author': 'Brad Lendon', 'title': 'Thai-Cambodian conflict pits a well-equipped US ally against a weaker adversary with strong China links - CNN', 'description': 'The deadly conflict on the Thai-Cambodian border pits a longtime United States ally with decades of experience against a relatively young armed force with close ties to China.', 'url': 'https://www.cnn.com/2025/07/25/asia/thailand-cambodia-conflict-military-comparison-intl-hnk-ml', 'urlToImage': 'https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-1246329694-20250725081507234.jpg?c=16x9&q=w_800,c_fill', 'publishedAt': '2025-07-26T06:13:00Z', 'content': 'The deadly conflict on the Thai-Cambodian border pits a longtime United States ally with decades of experience against a relatively young armed force with close ties to China.\r\nBangkok and Phnom Penh… [+6789 chars]'}]}
TOP News are:::

[{'source': {'id': 'cnn', 'name': 'CNN'}, 'author': 'Brad Lendon', 'title': 'Thai-Cambodian conflict pits a well-equipped US ally against a weaker adversary with strong China links - CNN', 'description': 'The deadly conflict on the Thai-Cambodian border pits a longtime United States ally with decades of experience against a relatively young armed force with close ties to China.', 'url': 'https://www.cnn.com/2025/07/25/asia/thailand-cambodia-conflict-military-comparison-intl-hnk-ml', 'urlToImage': 'https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-1246329694-20250725081507234.jpg?c=16x9&q=w_800,c_fill', 'publishedAt': '2025-07-26T06:13:00Z', 'content': 'The deadly conflict on the Thai-Cambodian border pits a longtime United States ally with decades of experience against a relatively young armed force with close ties to China.\r\nBangkok and Phnom Penh… [+6789 chars]'}]

In [ ]:
val1 = 2
val2 = 3

# using the addition operator
count = val1 + val2
print(count)

num1 = 5
num2 = 3

# using the subtraction operator
res = num1 - num2
print(res)

num_1 = 2
num_2 = 3

# using the multiplication operator
a = num_1 * num_2
print(a)

a1 = 3
a2 = 2

# using the division operator
c = a1 / a2
print(c)

b1 = 3
b2 = 2

# using the modulus operator
d = b1 % b2
print(d)

c1 = 2
c2 = 3

# using the exponentiation operator
e = c1 ** c2
print(e)

f1 = 3
f2 = 2

# using the floor division
g = f1 // f2
print(g)

5
2
6
1.5
1
8
1

In [ ]:
# To create an array of numeric values, we need to import the array module.
import array as arr
a = arr.array('d', [1.1, 3.5, 4.5])
print(a)

# To loop through all the elements of an array
cars = ["Ford", "Volvo", "BMW"]
for x in cars:
    print(x)

array('d', [1.1, 3.5, 4.5])
Ford
Volvo
BMW

In [ ]:
# And Operator
user = 'admin'
login = True
if user == 'admin' and login:
    print('admin page')
else:
    print('page cannot be displayed')

# Or Operator
user = 'admin'
login = True
if user == 'admin' or login:
    print('admin page')
else:
    print('page cannot be displayed')

# Not Operator
user = 'admin'
login = False
if not login:
    print('page cannot displayed')
else:
    print('Welcome admin')

admin page
admin page
page cannot displayed

In [ ]:
Variable_1 = '20.75'
Variable_2 = '40.91'
Variable_1 = float(Variable_1)
Variable_2 = float(Variable_2)
print(Variable_1 + Variable_2)

61.66

In [ ]:
# Create a class named MyClass,

class MyClass:
    x = 5


print(MyClass)

# Creating an object


class MyClass:
    x = 5


p1 = MyClass()
print(p1.x)

# Using the __init__() function to assign values for name and age


class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age


p1 = Person("Mark", 29)
print(p1.name)
print(p1.age)

<class '__main__.MyClass'>
5
Mark
29

In [ ]:
a = 10
b = 20

# if two operands values are equal,then the condition becomes true.
print(a == b)

# if two operands values are not equal,then the condition becomes true.
print(a != b)

# if the value of left operand is greater than the value of right operand, then condition becomes true.
print(a > b)

# if the value of right operand is less than the value of right operand, then condition becomes true.
print(a < b)

# if the value of left operand is greater than or equal to the value of right operand, then the condition becomes true.
print(a >= b)

# if the value of right operand is greater than or equal to the value of left operand, then condition becomes true.
print(a <= b)

False
True
False
True
False
True

In [ ]:
# To get 'n' for each 'n in nums using List comprehension

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list = [n for n in nums]
print(my_list)

# 'n*n' for each 'n' in nums (List comprehension)

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list = [n*n for n in nums]
print(my_list)

# Using Dictionary comprehension
brand = ['Audi', 'Benz', 'BMW']
car = ['A4', 'CLS', 'X6']
my_dict = {brand: car for brand, car in zip(car, brand)}
print(my_dict)

# Using Set comprehension
nums = {1, 1, 2, 3, 4, 3, 5, 6, 7, 8, 7, 9}
my_set = {n for n in nums}
print(my_set)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
{'A4': 'Audi', 'CLS': 'Benz', 'X6': 'BMW'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2, my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [ ]:
# Using global variable

x = 'global x'


def test():
    y = 'local y'

    print(y)


test()
print(x)

# Local variable & Scope


def test(z):
    print(z)

    test('local z')
    print(z)

# Nested Function


def outer():
    a = 'outer a'

    def inner():
        a = 'inner a'
        print(a)

    inner()
    print(a)


outer()

local y
global x
inner a
outer a

In [ ]:
# Print list , declared in variable
courses = {'English', 'Math', 'Biology', 'Science'}
print(courses)
# Length function
courses = {'English', 'Math', 'Biology', 'Science'}
print(len(courses))
# To know the specific index value list
courses = ["English", "Math", "Biology", "Science"]
print(courses[3])
# To make start and stop index value list
courses = ["English", "Math", "Biology", "Science"]
print(courses[0:2])
# Call particular start index list
courses = ["English", "Math", "Biology", "Science"]
print(courses[2:])

{'Biology', 'Science', 'Math', 'English'}
4
Science
['English', 'Math']
['Biology', 'Science']

In [ ]:
# removes 'a' from list1
list1 = ['a', 'b', 'c', 'd']
list1.remove('a')
print(list1)

# the first presence of 1 is removed from the list
list2 = [1, 2, 1, 1, 4, 5]
list2.remove(1)
print(list2)

['b', 'c', 'd']
[2, 1, 1, 4, 5]

In [ ]:
# To get list in reverse order
courses = ['A', 'B', 'C', 'D']
courses.reverse()
print(courses)

['D', 'C', 'B', 'A']

In [ ]:
# For loop
nums = [0, 1, 2, 3, 4]
for num in nums:
    print(nums)

# To break loop iteration
nums_1 = [5, 6, 7, 8, 9]
for nums_1 in nums_1:
    print(nums_1)
if nums_1 == 4:
    print('Found')
    breakpoint()
    print(nums_1)

# Continue Statement and to skip Iteration
for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
5
6
7
8
9
s
t
r
n
g
The end

In [ ]:
# Inner loop
nums = [1, 2, 3]
for num in nums:
    for letter in 'abc':
        print(letter, nums)

# Build in function Range
for i in range(10):
    print(i)
for i in range(1, 11):
    print(i)

# While loop
x = 0
while x < 10:
    print(x)
    x += 1
# Break
x = 0
while x < 10:
    if x := 5:
        breakpoint()
        print(x)
        x += 1

# Infinite loop
a = 0
while True:
    print(a)
    a += 1

PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/lib/python3.11/bdb.py", line 336, in set_trace
    sys.settrace(self.trace_dispatch)

a [1, 2, 3]
b [1, 2, 3]
c [1, 2, 3]
a [1, 2, 3]
b [1, 2, 3]
c [1, 2, 3]
a [1, 2, 3]
b [1, 2, 3]
c [1, 2, 3]
0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
> /tmp/ipython-input-15-3084322833.py(23)<cell line: 0>()
     21     if x := 5:
     22         breakpoint()
---> 23         print(x)
     24         x += 1
     25

<function test at 0x7e7058a8d620>
1
2

In [ ]:
nums = [9, 7, 5, 3, 1]
print(sum(nums))
print(min(nums))
print(max(nums))

In [ ]:
import pandas as pd
import sys
import matplotlib.pyplot as plt


df = pd.read_csv('test_file.csv')

print(df.to_string(index=False))

df.plot()

plt.show()


plt.savefig(sys.stdout.buffer)
sys.stdout.flush()

In [ ]:
# Let us create a method in the Person class


class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)


p1 = Person("John", 35)
p1.myfunc()

In [ ]:
# Sets
cs_courses = {'Math', 'History', 'Chemistry', 'Physics'}
print(cs_courses)
# in function to check the data in set
cs_courses = {'Math', 'History', 'Chemistry', 'Physics', 'Math'}
print('Math' in cs_courses)

# Set, Union Method
cs_courses = {'Math', 'History', 'Biology', 'Physics'}
art_courses = {'Math', 'Art', 'Chemistry', 'Physics'}
print(cs_courses.union(art_courses))

# Set, Difference Method
cs_courses = {'Math', 'History', 'Biology', 'Physics'}
art_courses = {'Math', 'Art', 'Chemistry', 'Physics'}
print(cs_courses.difference(art_courses))

# Set Intersection Method
cs_courses = {'Math', 'History', 'Biology', 'Physics'}
art_courses = {'Math', 'Art', 'Chemistry', 'Physics'}
print(cs_courses.intersection(art_courses))

In [ ]:
# Tuple items - data types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

# A Tuple with multiple data types
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

In [ ]:
a = {1: "one", 2: "three"}
a1 = {2: "two"}

# updates the value of key 2
a.update(a1)

print(a)

a1 = {3: "three"}

# adds element with key 3
a.update(a1)

print(a)

In [ ]:
# conversion of int to float
x = float(8)


# conversion of float to int
y = int(5.3)

# conversion int to complex
z = complex(x)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

In [ ]:
# Importing datetime module and to display current date
import datetime

x = datetime.datetime.now()
print(x)

# To get return value of year and name of weekday

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

In [ ]:
# Dictionaries
student = {'name': 'charles', 'age': 25, 'course': ['math', 'Biology']}
print(student)

# Get Method
student = {'name': 'charles', 'age': 25, 'course': ['math', 'Biology']}
print(student.get('name'))

# Adding a new argument
student = {'name': 'charles', 'age': 25, 'course': ['math', 'Biology']}
print(student.get('phone', 'not found'))

# New entry to dictionaries
student = {'name': 'charles', 'age': 25, 'course': ['math', 'Biology'], 'phone': '1234_123'}
print(student.get('phone', 'not found'))

In [ ]:

colors = ['Violet', 'Gray', 'Pink', 'Blue']

for item in colors:
    print(item)

for index, colors in enumerate(colors):
    print(index, colors)

for index, colors in enumerate(colors, start=1):
    print(index, colors)

In [ ]:
f = open("test_file.csv", "a")
f.write('5,70,150,461,10.5\n6,40,4456,356,67.55')
f.close()

f = open("test_file.csv", "r")
print(f.read())
f.close()

In [ ]:
# Adding a placeholder to display the price

price = 49
txt = "The price is {} dollars"
print(txt.format(price))

# Price to be displayed with decimal values

price = 49
txt = "The price is {:.2f} dollars"
print(txt.format(price))

# Adding multiple placeholder to display the price

quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
# Calling a Function
def my_function():
    print("Hello from a function")


my_function()

# This function expects 2 arguments and gets 2 arguments


def my_function(fname, lname):
    print(fname + " " + lname)


my_function("Marc", "Jack")

# If the number of arguments is unknown, add a (* args) before the parameter name


def my_function(*kids):
    print("The youngest child is " + kids[2])


my_function("Emil", "Tobias", "Linus")

# If the number of keyword arguments is unknown, add a double (** kwargs) before the parameter name


def my_function(**kid):
    print("His last name is " + kid["lname"])


my_function(fname="Tobias", lname="Refsnes")

# To get a return value, use the return statement


def my_function(x):
    return 5 * x


print(my_function(3))
print(my_function(5))
print(my_function(9))

In [ ]:
# Pass Function

def hello_func():
    pass


hello_func()
print(hello_func())


def hello_func():
    hello_func()


print(hello_func)

# Function allows to reuse ,without repeat


def hello_func():
    print('hello function!')
    hello_func()

In [ ]:
# Tuples are Immutable & Cannot make any assignment

tuple_1 = ('Samsung', 'Sony', 'One plus')
tuple_2 = tuple_1
print(tuple_1)
print(tuple_2)

In [ ]:
class Parent:
    def first(self):
        print('first function')


class Child(Parent):
    def second(self):
        print('second function')


ob = Child()
ob.first()
ob.second()

In [ ]:
# return an iterator from a tuple and print each value
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

# String as an iterator
mystr = "Red"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))

# Looping through an iterator
mytuple = ("Gold", "Silver", "Platinum")

for x in mytuple:
    print(x)

# Iterate the characters of the string
mystr = "Diamond"
for x in mystr:
    print(x)

# Iterators that returns number starts from 1 to 5 and sequence increases by one


class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self

    def __next__(self):
        b = self.a
        self.a += 1
        return b


myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

# To stop iteration


class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self

    def __next__(self):
        if self.a <= 20:
            b = self.a
            self.a += 1
            return b
        else:
            raise StopIteration


myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
    print(x)

In [ ]:
# Join Method
courses = ['History', 'Math', 'Science', 'English']

courses_str = '-' . join(courses)
print(courses_str)

# Split Method
courses = ['History', 'Math', 'Science', 'English']
courses_str1 = ',' . join(courses)
new_list = courses_str1.split('-')
print(courses_str1)
print(new_list)

In [ ]:

import json
# Code to convert JSON to Python
# In JSON:
x = '{ "name":"Jack", "age":45, "city":"New York"}'

# parse x:
y = json.loads(x)

# Results Python dictionary:
print(y["age"])

# Conversion of Python to  JSON
# a Python object (dict):
x = {
  "name": "Fabio",
  "age": 32,
  "city": "Paris"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

In [ ]:
# Keys
student = {'name': 'charles', 'age': 25, 'course': ['math', 'Biology']}
print(student. keys())

# To show values
student = {'name': 'charles', 'age': 25, 'course': ['math', 'Biology']}
print(student. values())

# To display items
student = {'name': 'charles', 'age': 25, 'course': ['math', 'Biology']}
print(student. items())